#about-me p {
    padding-top: 20%;
}

#about-me .underline {
    text-decoration: underline;
    background-color: white important!;
    text-decoration-color: #FF5349;
}

#about-me img {
    width: 20%;
    height: auto;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
