#goodreads-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-bottom: 15%;
  }
  
  .book-div {
    width: auto;
    height: 170px;
    padding: 3%;
  }
  
  .book-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  #goodreads h2 {
    padding-bottom: 3%;
  }

  #goodreads p {
    font-size: 2%;
    color: #000;
    /* font-style: italic; */
    font-weight: 300;
  }

  #goodreads a {
    text-decoration: none;
  }