#tech-stack {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: black;

}

#tech-stack a {
  text-decoration: none;
}

.techIconDiv {
    padding: 6%;
}

.techIcon {
    font-size: 7vw;
    padding: 6%;
    transition: 300ms;
    color: darkcyan;
}


.techIcon:hover + .hide {
    visibility: visible;
    font-size: 8vw;
    color: #FF5349;
  }

  /* .techIcon:hover {
    display: none;
  } */

.hide {
    visibility: hidden;
    transition: 300ms;
  }

  #tech-stack p {
    font-size: 2vw;
    text-align: center;
    padding-right: 5%;
  }

  #tech-stack-h2 {
    text-align: center;
    color: #FF5349;
    background-color: black;
    padding-top: 5%;
  }

