#tech-stack {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.techIconDiv {
    padding: 6%;
}

.techIcon {
    font-size: 8vw;
    padding: 6%;
    transition: 300ms;
}


.techIcon:hover + .hide {
    visibility: visible;
    font-size: 8vw;
    color: darkcyan;
  }

/* .hide {
    visibility: hidden;
    transition: 300ms;
  } */

  #tech-stack p {
    font-size: 2vw;
    text-align: center;
    padding-right: 5%;
  }

